.cart__card {
	display: flex;
	flex-direction: column;
	padding-bottom: 32px;
	border-radius: 4px;
}
.cart__item {
	margin-bottom: 16px;
	padding-bottom: 24px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	img {
		width: 100%;
		margin-bottom: 4px;
	}
	&__info {
		padding: 0 8px;
	}
	&__action {
		display: flex;
		justify-content: space-between;
		margin: 8px 0;
		padding: 0 8px;
	}
}
.cart__total {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	margin: 8px;
}
.cart__empty {
	text-align: center;
}
