.App {
	display: flex;
	padding: 16px;
	@media screen and (max-width: 576px) {
		flex-direction: column-reverse;
	}
}
.products {
	flex: 7;
	padding-right: 16px;
}
.cart {
	flex: 3;
	padding: 0 16px;
	@media screen and (max-width: 576px) {
		padding: 0;
	}
}
.btn {
	@include btn();
}
